.my-order {
  margin: 50px 0px;
}

.my-order .container {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  margin-top: 30px;
}

.order-container {
  display: grid;
  align-items: center;  
  gap: 20px;
  font-size: 14px;
  padding: 15px 25px;
  color: #454545;
  border: 1px solid tomato;
  border-radius: 8px; 
  transition: box-shadow 0.3s ease;
}

.order-container:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.order-container img {
  width: 60px; 
  border-radius: 8px; 
}

.order-container p {
  font-style: bold;
  margin-right: 4px;
}

.order-container p b {
  font-weight: 500;
  color: #454545;
}

.order-container button {
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  background-color: #ffe1e1;
  cursor: pointer;
  color: #454545;
  transition: background-color 0.3s ease; /* Thêm hiệu ứng */
}

.order-container button:hover {
  background-color: #ffcccc; /* Đổi màu khi hover */
}

@media (max-width: 900px) {
  .order-container {
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 10px; /* Tăng khoảng cách giữa các hàng */
    font-size: 12px;
  }

  .order-container button {
    font-size: 10px;
  }
}
